In [73]:
import pandas as pd
import re

In [74]:
dataset=pd.read_excel('Downloads/covid-19.xlsx')

In [75]:
vaccine=pd.read_csv('Documents/vaccine.csv')

In [76]:
dataset_se = dataset[dataset["country"]=="Sweden"].copy().fillna(0).drop(columns=['source', 'note'])

In [77]:
vaccine_se = vaccine[vaccine["ReportingCountry"]=="SE"].copy().fillna(0)

In [78]:
dataset_se.head(100)

,country,country_code,continent,population,indicator,weekly_count,year_week,rate_14_day,cumulative_count
38768,Sweden,SWE,Europe,10327589,cases,0.0,2020-01,0.000000,0
38769,Sweden,SWE,Europe,10327589,cases,0.0,2020-02,0.000000,0
38770,Sweden,SWE,Europe,10327589,cases,0.0,2020-03,0.000000,0
38771,Sweden,SWE,Europe,10327589,cases,0.0,2020-04,0.000000,0
38772,Sweden,SWE,Europe,10327589,cases,0.0,2020-05,0.000000,0
...,...,...,...,...,...,...,...,...,...
38863,Sweden,SWE,Europe,10327589,cases,5910.0,2021-43,107.498468,1173234
38864,Sweden,SWE,Europe,10327589,cases,5059.0,2021-44,106.210656,1178293
38865,Sweden,SWE,Europe,10327589,cases,5819.0,2021-45,105.329521,1184112
38866,Sweden,SWE,Europe,10327589,cases,7094.0,2021-46,125.034023,1191206
38867,Sweden,SWE,Europe,10327589,cases,11914.0,2021-47,184.050701,1203120

In [79]:
vaccine_se["year_week"] = vaccine_se["YearWeekISO"].apply(lambda x: re.sub('-W', '-',x))
vaccine_se = vaccine_se.drop(columns=['YearWeekISO'])

In [80]:
vaccine_se.head(100)

,ReportingCountry,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Vaccine,Population,year_week
218496,SE,2059729.0,0.0,0.0,0,0.0,0,0,0,SE23,ALL,MOD,10327589,2020-52
218497,SE,857762.0,0.0,0.0,0,0.0,0,0,0,SE31,ALL,MOD,10327589,2020-52
218498,SE,521829.0,0.0,0.0,0,0.0,0,0,0,SE33,ALL,MOD,10327589,2020-52
218499,SE,10327589.0,0.0,0.0,0,0.0,0,0,0,SE,ALL,AZ,10327589,2020-52
218500,SE,2059729.0,0.0,0.0,0,0.0,0,0,0,SE23,ALL,AZ,10327589,2020-52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218591,SE,536306.0,0.0,0.0,8155,0.0,0,0,0,SE,Age80+,COM,10327589,2020-53
218592,SE,536306.0,0.0,0.0,0,0.0,0,0,0,SE,Age80+,AZ,10327589,2020-53
218593,SE,74894.0,0.0,0.0,9097,0.0,0,0,0,SE,LTCF,UNK,10327589,2020-53
218594,SE,10327589.0,87750.0,0.0,36648,0.0,0,0,0,SE,ALL,COM,10327589,2021-01
218595,SE,2377081.0,0.0,0.0,5183,0.0,0,0,0,SE11,ALL,COM,10327589,2021-01

In [81]:
sweden_data = pd.merge(dataset_se, vaccine_se, on="year_week")

In [82]:
sweden_data.head(100)

,country,country_code,continent,population,indicator,weekly_count,year_week,rate_14_day,cumulative_count,ReportingCountry,...,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Vaccine,Population
0,Sweden,SWE,Europe,10327589,cases,37134.0,2020-52,806.654874,421041,SE,...,0.0,0,0.0,0,0,0,SE23,ALL,MOD,10327589
1,Sweden,SWE,Europe,10327589,cases,37134.0,2020-52,806.654874,421041,SE,...,0.0,0,0.0,0,0,0,SE31,ALL,MOD,10327589
2,Sweden,SWE,Europe,10327589,cases,37134.0,2020-52,806.654874,421041,SE,...,0.0,0,0.0,0,0,0,SE33,ALL,MOD,10327589
3,Sweden,SWE,Europe,10327589,cases,37134.0,2020-52,806.654874,421041,SE,...,0.0,0,0.0,0,0,0,SE,ALL,AZ,10327589
4,Sweden,SWE,Europe,10327589,cases,37134.0,2020-52,806.654874,421041,SE,...,0.0,0,0.0,0,0,0,SE23,ALL,AZ,10327589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sweden,SWE,Europe,10327589,deaths,640.0,2020-52,124.908147,9422,SE,...,0.0,0,0.0,0,0,0,SE,Age80+,AZ,10327589
96,Sweden,SWE,Europe,10327589,deaths,640.0,2020-52,124.908147,9422,SE,...,0.0,1603,0.0,0,0,0,SE,Age80+,COM,10327589
97,Sweden,SWE,Europe,10327589,deaths,640.0,2020-52,124.908147,9422,SE,...,0.0,1688,0.0,0,0,0,SE,LTCF,UNK,10327589
98,Sweden,SWE,Europe,10327589,cases,41321.0,2020-53,759.664235,462362,SE,...,0.0,0,0.0,0,0,0,SE11,ALL,AZ,10327589
99,Sweden,SWE,Europe,10327589,cases,41321.0,2020-53,759.664235,462362,SE,...,0.0,711,0.0,0,0,0,SE31,ALL,COM,10327589